<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Product Admin</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<script src="/js/productAdmin.js" type="text/javascript"></script>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER PRODUCT-CATALOGO -->
		<div class="products-catalogo">	
			
			<!-- MAIN SECCION FILTRO Y PRODUCTOS -->
			<main class="seccion-filtro-muestra-productos">

				<!-- COLUMNA FILTROS -->
				<section class="columna-filtro">

					<!-- AGREGAR PRODUCTO AL CATALOGO -->
					<div class="filtro">
						<button onclick="window.location.href='/products/productAdd'" class="agregarProducto"><i class="fas fa-plus"></i> Agregar Producto</button>
					</div>

					<!-- SELECCION DE FILTRO -->
					<div class="filtro">
						<select class="select-ordenar" name="ordenar" id="ordenar">
							  <option value="nuevos-productos">Nuevos Productos</option>
							  <option value="mas-vendidos">Mas Vendidos</option>
							  <option value="populares">Populares</option>
							  <option value="especiales">Especiales</option>
						</select>
					</div>
					
						<!-- CERVECERIAS -->
						<div class="filtro">
							<a class="tituloFiltro" onClick="dropDownFiltros('cerveceriasFiltro', 'showModificarFiltros')"><i class="fas fa-caret-down"></i>  Cervecerías</a>
							<div class="cerveceriasDropDown" id="cerveceriasFiltro">
								<h4>Almirante Donn</h4>
								<h4>Andes Origen</h4>
								<h4>Antares</h4>
								<h4>Brahma</h4>
							</div>
						</div>

						<!-- PROVINCIA DE ORIGEN -->
						<div class="filtro">
							<a class="tituloFiltro" onClick="dropDownFiltros('provinciasFiltro', 'showModificarFiltros')"><i class="fas fa-caret-down"></i>  Provincia de Origen</a>
							<div class="cerveceriasDropDown" id="provinciasFiltro">
								<h4>Tucuman</h4>
								<h4>Mendoza</h4>
								<h4>Buenos Aires</h4>
								<h4>Uruguay</h4>
							</div>
						</div>
						
						<!-- FAMILIA -->
						<div class="filtro">
							<a class="tituloFiltro" onClick="dropDownFiltros('familiaFiltro', 'showModificarFiltros')"><i class="fas fa-caret-down"></i>  Familia</a>
							<div class="cerveceriasDropDown" id="familiaFiltro">
								<h4>Ale</h4>
								<h4>Lager</h4>
							</div>
						</div>

						<!-- VOLUMEN -->
						<div class="filtro">
							<a class="tituloFiltro" onClick="dropDownFiltros('volumenFiltro', 'showModificarFiltros')"><i class="fas fa-caret-down"></i>  Volumen</a>
							<div class="cerveceriasDropDown" id="volumenFiltro">
								<h4>250ml</h4>
								<h4>269ml</h4>
								<h4>330ml</h4>
								<h4>350ml</h4>
							</div>
						</div>
					
				</section>

				
				<!-- COLUMNA PRODUCTOS -->
				<section class="columna-productos">

						<!-- PRODUCTO -->
						<% productos.forEach(producto => { %>
							<article class="producto">
								<img src="/images/productos/<%= producto.imagen[0] %>" alt="<%= producto.nombre %>">
									<h4 class="nombre-producto-productAdmin"><%= producto.nombre %></h4>
								<button onclick="window.location.href='/products/productEdit/<%= producto.id %>'" id="modificarProducto" class="modificar-producto">Modificar Producto</button>
								<button onclick="window.location.href='/products/productEdit/delete/<%= producto.id %>'" id="eliminarProducto" class="eliminar-producto">Eliminar Producto</button>
							</article>
						<% }); %>		
					
				</section>
			</main>

		</div>

</body>
</html>