<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Carrito</title>
    <%- include('../partials/head.ejs') %>
  </head>
  
  <header>
    <%- include('../partials/nav.ejs', userLogged) %>
    <br>
  </header>
  <body>

    <!-- CONTAINER CARRITO-->
    <div class="container-carrito">

      <!-- TITULO -->
      <h1 class="titulo">Carrito</h1>

      <!-- SECCION PRODUCTOS DEL CARRITO Y RECUADRO -->
      <div class="productos-carrito">

        <!-- SECCION PRODUCTOS CARRITO-->
        <div class="productos">


          

            
            <% productos.forEach(producto => { %>
              <!-- PC - FILA DE IMG Y PRECIO -->
                <!-- SECCION PRODUCTOS FILA 1 -->
                <div class="producto-carrito">
                  <h4 class="estilo-letras-producto">X</h4>
                  <% if(typeof producto.images[0] != "undefined") { %>
                    <img class="producto-imagen-carrito" src="/images/productos/<%= producto.images[0].name %> " alt="">
                  <% } else { %>
                    <img class="producto-imagen-carrito" src="/images/productos/product-image-not-available.jpg" alt="">
                  <% } %> 
                    <h4 class="estilo-letras-producto"><%= producto.name %></h4>
                    <h4 class="estilo-letras-producto">$<%= producto.price %></h4>
                    <h4 class="estilo-letras-producto"><a href="#" class="sumar-restar-cantidad">-</a> 2 <a href="#" class="sumar-restar-cantidad">+</a></h4>
                    <h4 class="estilo-letras-producto">$299.98</h4>
                  
                  

                  <!------- MOBILE ------->
                  <div class="mobile-letras-producto texto-centrado-producto">
                    <h4 class="">Septic Tank - West Coast IPA</h4>
                  </div>

                  <!------- PRECIO ------->
                  <div class="mobile-letras-producto">
                    <h4 class="">Precio:</h4>
                    <h4 class="">$149.99</h4>
                  </div>

                  <!------- CANTIDAD ------->
                  <div class="mobile-letras-producto">
                    <h4 class="">Cantidad:</h4>
                    <h4 class=""><a href="#" class="sumar-restar-cantidad">-</a> 2 <a href="#" class="sumar-restar-cantidad">+</a></h4>
                  </div>

                  <!------- SUBTOTAL ------->
                  <div class="mobile-letras-producto">
                    <h4 class="">SUBTOTAL:</h4>
                    <h4 class="">$299.98</h4>
                  </div>
                </div>
            <% }) %> 
              

        
          <!-- LINEA -->
          <hr class="hr-carrito">          
        </div>



        <!----------- RECUADRO TOTAL ----------->
          <div id="recuadro" class="recuadro-total">

            <!-- RECUADRO TOTAL - CON MARGEN -->
            <div class="recuadro-total-chico">

              <!-- TITULO -->
              <h3>Total a pagar</h3>
              <hr class="hr-recuadro">

              <!-- SUBTOTAL -->
              <div class="recuadro-carrito">
                <h4>SUBTOTAL</h4>
                <h4>$1849,98</h4>
              </div>

              <!--------- ENVIO --------->
              <div class="recuadro-carrito">
                <h4>ENVIO</h4>

                <!-- RETIRO -->
                <div>
                  <p><input type="radio" name="enviar" value="Envio">Envio a domicilio</p>
                  <p><input type="radio" name="enviar" value="Retiro">Retiro en local</p>
                </div>
              </div>

              <!-- DIRECCION -->
              <div class="recuadro-carrito">
                <a href=""><h4 class="btn-cambiar-direccion direccion-margin">Cambiar direccion</h4></a>
                <h4 class="">Bascary 440</h4>
              </div>

              <!-- LINEA DIVISORA -->
              <hr class="hr-recuadro">

              <!-- TOTAL -->
              <div class="recuadro-carrito">
                <h4>TOTAL</h4>
                <h4>$2000</h4>
              </div>

              <!-- BOTON PAGO -->
              <a href=""><h4 class="boton-pagar">PROCEDER AL PAGO</h4></a>
            </div>

          </div>

        </div>


        <!-- SECCION CUPONES -->
        <div class="cupones">
          <input type="text" name="cupon-descuento" placeholder="CUPON DE DESCUENTO">
          <a href=""><strong><p>APLICAR CUPON</p></strong></a>
        </div>

        
        
        <!-- PRODUCTOS RELACIONADOS -->
        <div>
          <h1 class="titulo-productosRelacionado">Productos Relacionados</h1>
        </div>
        
        

        <!-------- FOOTER --------->
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
        
</body>
</html>
