<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Carrito</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/faviconLogo.ico" />

    <script type="text/javascript" src="/js/productCart.js"></script>
    <link rel="stylesheet" href="/stylesheets/__general.css">
    <link rel="stylesheet" href="/stylesheets/__nav.css">
    <link rel="stylesheet" href="/stylesheets/__productCart.css">
    <link rel="stylesheet" href="/stylesheets/__footer.css">
  </head>
  
  <header>
    <%- include('../partials/nav.ejs', userLogged) %>
    <br>
  </header>
  <body>

    <!-- CONTAINER CARRITO-->
    <div class="container-carrito">

      <!-- TITULO -->
      <h1 class="titulo">Carrito</h1>

      <!-- SECCION PRODUCTOS DEL CARRITO Y RECUADRO -->
      <div class="productos-carrito">



        <div id="modalNoHayProductos" class="modalNoHayProductos">

          <!-- Modal content -->
          <div class="modal-content-noHayProductos">
            <span class="close-modal-noHayProductos"><i class="far fa-times-circle "></i></span>
            <p>No hay productos en el carrito</p>
          </div>

        </div>


        
        <!-- SECCION PRODUCTOS CARRITO-->
        <div class="productos">
          
            <div class="producto-carrito tagsEspecificosDeProductos">
              <form class="formBorrarProducto" action="/carts/deleteAllProducts" method="POST">
                <button class="btnBorrarProducto" id="borrarTodosLosProducts" type="button">Borrar Todo <i class="fas fa-trash-alt"></i></button>
                
                <!--MODAL BORRADO DE PRODUCTOS-->
                <div class="modal-deleteAllProducts">
                  <div class="modal-content-deleteAllProducts">
                    <p style="text-align: center;">¿Desea borrar todos los productos?</p>
                    <div>
                      <button type="submit" class="yes-delete-all-products">Si</button>
                      <button type="button" class="closeModalDeleteAllProducts" id="closeModalDeleteAllProducts">No</button>
                    </div>
                  </div>
                </div>

              </form>
              <h3>Producto</h3>
              <h3>Precio</h3>
              <h3>Cantidad</h3>
              <h3>Subtotal</h3>
            </div>
            <hr class="hr-carrito">  

            

          
            <% if(typeof errorDeCantidad != "undefined") { %>
              <p><%= errorDeCantidad %> </p>
            <% } %> 
            <form id="formProcederAlPago" action="/carts/procederAlPago" method="POST">
            <% productos.forEach(producto => { %>
              <!-- PC - FILA DE IMG Y PRECIO -->
                <!-- SECCION PRODUCTOS FILA 1 -->
                    <div class="producto-carrito productos-agregados-en-el-carrito">
                      <a class="estilo-letras-producto deleteProduct" onclick="window.location.href='/carts/deleteProduct/<%= producto.id %>'">X</a>
                      <% if(typeof producto.images[0] != "undefined") { %>
                        <img class="producto-imagen-carrito" src="/images/productos/<%= producto.images[0].name %> " alt="">
                      <% } else { %>
                        <img class="producto-imagen-carrito" src="/images/productos/product-image-not-available.jpg" alt="">
                      <% } %> 
                      <h4 class="estilo-letras-producto producto-nombre"><%= producto.name %></h4>
                      <h4 class="estilo-letras-producto producto-precio producto-precio-pc">$<%= producto.price %></h4>
                      <input class="producto-cantidad stock-pc producto-cantidad-pc" name="stock" min="1" max="<%= producto.stock %>" type="number" value="1">
                      <h4 class="estilo-letras-producto producto-precio-total producto-total-pc">$<%= producto.price %></h4>
                      
                    </div>
                    <hr class="hr-carrito">
            <% }) %> 
              

        
          <!-- LINEA -->
        </div>



        <!----------- RECUADRO TOTAL ----------->
          <div id="recuadro" class="recuadro-total">

            <!-- RECUADRO TOTAL - CON MARGEN -->
            <div class="recuadro-total-chico">

              <!-- TITULO -->
              <h3>Total a pagar</h3>
              <hr class="hr-recuadro">

              <!-- SUBTOTAL -->
              <div class="recuadro-carrito">
                <h4>TOTAL: </h4>
                <h4 class="totalAPagar">0</h4>
              </div>

              <!--------- ENVIO --------->
              <div class="recuadro-carrito">
                <h4>ENVIO</h4>

                <!-- RETIRO -->
                <div>
                  <p>
                    <label for="enviar-domicilio">Enviar a domicilio</label>
                    <input class="select-tipo-envio" type="radio" name="tipo-de-envio" id="enviar-domicilio" value="envio">
                  </p>
                  <p>
                    <label for="retirar-local">Retirar en local</label>
                    <input checked class="select-tipo-envio" type="radio" name="tipo-de-envio" id="retirar-local" value="local">
                  </p>
                </div>
              </div>

              <!-- DIRECCION -->
              <div class="recuadro-carrito">
                <select name="" id="" class="select-departamento"></select>
              </div>

              <!-- LINEA DIVISORA -->
              <hr class="hr-recuadro">

              <!-- TOTAL -->
              <div class="recuadro-carrito">
                <button type="submit" class="boton-pagar">PROCEDER AL PAGO</button>
              </div>
              
                
              </form>
              
            </div>

          </div>

        </div>
        
        

        <!-------- FOOTER --------->
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
        
</body>
</html>
