<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Carrito</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/faviconLogo.ico" />

    <script type="text/javascript" src="/js/productCart.js"></script>
    <link rel="stylesheet" href="/stylesheets/__general.css">
    <link rel="stylesheet" href="/stylesheets/__nav.css">
    <link rel="stylesheet" href="/stylesheets/__productCart.css">
    <link rel="stylesheet" href="/stylesheets/__footer.css">
  </head>
  
  <header>
    <%- include('../partials/nav.ejs', userLogged) %>
    <br>
  </header>
  <body>

    <!-- CONTAINER CARRITO-->
    <div class="container-carrito">

      <!-- TITULO -->
      <h1 class="titulo">Carrito</h1>

      <!-- SECCION PRODUCTOS DEL CARRITO Y RECUADRO -->
      <div class="productos-carrito">


        
        <!-- SECCION PRODUCTOS CARRITO-->
        <div class="productos">

          
            <div class="producto-carrito tagsEspecificosDeProductos">
              <form class="formBorrarProducto" action="/carts/deleteAllProducts" method="POST">
                <button class="btnBorrarProducto" type="submit">Borrar Todo <i class="fas fa-trash-alt"></i></button>
              </form>
              <h3>Producto</h3>
              <h3>Precio</h3>
              <h3>Cantidad</h3>
              <h3>Subtotal</h3>
            </div>
            <hr class="hr-carrito">  

          
            <% if(typeof errorDeCantidad != "undefined") { %>
              <p><%= errorDeCantidad %> </p>
            <% } %> 
            <form action="/carts/procederAlPago" method="POST">
            <% productos.forEach(producto => { %>
              <!-- PC - FILA DE IMG Y PRECIO -->
                <!-- SECCION PRODUCTOS FILA 1 -->
                    <div class="producto-carrito">
                      <a class="estilo-letras-producto deleteProduct" href="/carts/deleteProduct/<%= producto.id %>">X</a>
                      <% if(typeof producto.images[0] != "undefined") { %>
                        <img class="producto-imagen-carrito" src="/images/productos/<%= producto.images[0].name %> " alt="">
                      <% } else { %>
                        <img class="producto-imagen-carrito" src="/images/productos/product-image-not-available.jpg" alt="">
                      <% } %> 
                      <h4 class="estilo-letras-producto producto-nombre"><%= producto.name %></h4>
                      <h4 class="estilo-letras-producto producto-precio">$<%= producto.price %></h4>
                      <input id="stockProducto" class="producto-cantidad" name="stock" min="1" max="<%= producto.stock %>" type="number" value="1">
                      <h4 class="estilo-letras-producto producto-precio-total">$<%= producto.price %></h4>
                      
                      <!-- MOBILE -->
                      <div class="divPrecioCantidadSubtotalMobil">
                        <div class="divTags">
                          <h4>Precio: </h4>
                          <h4>Cantidad: </h4>
                          <h4>Subtotal:</h4>
                        </div>
                        <div class="divMobilPrecioCantidadTotal">
                          <h4 >$<%= producto.price %></h4>
                          <input id="stockProducto" name="stock" min="1" max="<%= producto.stock %>" type="number" value="1">
                          <h4 >$<%= producto.price %></h4>
                        </div>
                        
                      </div>
                      
                    </div>
                    <hr class="hr-carrito">
            <% }) %> 
              

        
          <!-- LINEA -->
        </div>



        <!----------- RECUADRO TOTAL ----------->
          <div id="recuadro" class="recuadro-total">

            <!-- RECUADRO TOTAL - CON MARGEN -->
            <div class="recuadro-total-chico">

              <!-- TITULO -->
              <h3>Total a pagar</h3>
              <hr class="hr-recuadro">

              <!-- SUBTOTAL -->
              <div class="recuadro-carrito">
                <h4>SUBTOTAL</h4>
                <h4>$1849,98</h4>
              </div>

              <!--------- ENVIO --------->
              <div class="recuadro-carrito">
                <h4>ENVIO</h4>

                <!-- RETIRO -->
                <div>
                  <p><input type="radio" name="enviar" value="Envio">Envio a domicilio</p>
                  <p><input type="radio" name="enviar" value="Retiro">Retiro en local</p>
                </div>
              </div>

              <!-- DIRECCION -->
              <div class="recuadro-carrito">
                <a href=""><h4 class="btn-cambiar-direccion direccion-margin">Cambiar direccion</h4></a>
                <h4 class="">Bascary 440</h4>
              </div>

              <!-- LINEA DIVISORA -->
              <hr class="hr-recuadro">

              <!-- TOTAL -->
              <div class="recuadro-carrito">
                <h4>TOTAL</h4>
                <h4>$2000</h4>
              </div>

              <!-- BOTON PAGO -->
              
                <button type="submit"><h4 class="boton-pagar">PROCEDER AL PAGO</h4></button>
              </form>
              
            </div>

          </div>

        </div>


        <!-- SECCION CUPONES -->
        <div class="cupones">
          
          <input type="text" name="cupon-descuento" placeholder="CUPON DE DESCUENTO">
          <a href=""><strong><p>APLICAR CUPON</p></strong></a>
        </div>

        
        
        <!-- PRODUCTOS RELACIONADOS -->
        <div>
          <h1 class="titulo-productosRelacionado">Productos Relacionados</h1>
        </div>
        
        

        <!-------- FOOTER --------->
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
        
</body>
</html>
