<!DOCTYPE html>
<html lang="es">
  	<head> 
      <%- include('./partials/head2.ejs') %>
    </head>
  
  <body>
    
    <!-- NAV -->
    <header>
      <%- include('./partials/nav2.ejs') %>
    </header>
    
    <!-- CONTAINER HOME -->
    <div class="home">
      
      <!-- BANNER PRINCIPAL-->
      <section>
        <div class="banner">
          <img src="/images/home/banner.jpg" alt="banner">
        </div>
      </section>

      <main>
        <!-- NOVEDADES-->
        <div class="titulos">
          <h2>Novedades</h2>
        </div>
          

        <!-- PRODUCTOS-->
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <% let arrayResponsive = ['', 'resolucionMenorA320', 'resolucionMenorA768', 'resolucionMenorA1024', 'resolucionMenorA1200'] %>
          <% for (let i=0; i < arrayResponsive.length ; i++) { %>

          <% if (productos[i] == undefined) { %>

            <article class="producto <%= arrayResponsive[i] %>">
              <a href="#">
                <img src="/images/productos/product-image-not-available.jpg" alt="">
              </a>
              <h2 class="producto-titulo">No hay producto</h2>
              <div class="precio-stock">
                <div>
                  <h4 class="etiqueta-precio">$</h4>
                </div>
                <div>
                    <h5 class="stock sinStock">Sin Stock</h5>
                </div>
              </div>
              <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
            </article>

          <% } else { %>

            <article class="producto <%= arrayResponsive[i] %>">
              <a href="/products/productDetail/<%= productos[i].id %>">
                <img src="/images/productos/<%= productos[i].imagen %>" alt="">
              </a>
              <h2 class="producto-titulo"><%= productos[i].nombre %></h2>
              <div class="precio-stock">
                <div>
                  <h4 class="etiqueta-precio">$<%= productos[i].precio %></h4>
                </div>
                <div>
                  <% if (productos[i].stock > 0) { %>
                    <h5 class="etiqueta-stock">Stock Disponible</h5>
                  <% } else { %>
                    <h5 class="stock sinStock">Sin Stock</h5>
                  <% } %>
                  
                </div>
              </div>
              <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
            </article>
          <% } %>
        <% } %>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        
        </section>
      </main>

        <!-- BANNER NOVEDADES-->

        <div class="banner-parallax"></div>
<!--         <section>
          <div class="banner-novedades">
            <a href="/promociones">
              <img class="img-banner" src="/images/home/banner-novedades.jpg" alt="">
            </a>
          </div>
        </section> -->


        <!-- MEJORES PRODUCTOS-->
        <section class="nav-MejoresProductos">
          <div class="titulo-mejores-productos">
            <h2>Los Mejores Productos</h2>
          </div>
  
          <!-- NAV MEJORES PRODUCTOS-->
          <ul class="mejores-productos">
            <li> <a href="#">Populares</a></li>
            <li> <a href="#">Nuevos Productos</a> </li>
            <li> <a href="#">Más Vendidos</a> </li>
            <li> <a href="#">Especiales</a> </li>
          </ul>
        </section>
        



        <!-- PRODUCTOS -->
        <main>
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
    
          <% for (let i=0; i < arrayResponsive.length ; i++) { %>

          <% if (productos[i] == undefined) { %>

            <article class="producto <%= arrayResponsive[i] %>">
              <a href="#">
                <img src="/images/productos/product-image-not-available.jpg" alt="">
              </a>
              <h2 class="producto-titulo">No hay producto</h2>
              <div class="precio-stock">
                <div>
                  <h4 class="etiqueta-precio">$</h4>
                </div>
                <div>
                    <h5 class="stock sinStock">Sin Stock</h5>
                </div>
              </div>
              <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
            </article>

          <% } else { %>

            <article class="producto <%= arrayResponsive[i] %>">
              <a href="/products/productDetail/<%= productos[i].id %>">
                <img src="/images/productos/<%= productos[i].imagen %>" alt="">
              </a>
              <h2 class="producto-titulo"><%= productos[i].nombre %></h2>
              <div class="precio-stock">
                <div>
                  <h4 class="etiqueta-precio">$<%= productos[i].precio %></h4>
                </div>
                <div>
                  <% if (productos[i].stock > 0) { %>
                    <h5 class="etiqueta-stock">Stock Disponible</h5>
                  <% } else { %>
                    <h5 class="stock sinStock">Sin Stock</h5>
                  <% } %>
                  
                </div>
              </div>
              <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
            </article>
          <% } %>
        <% } %>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>

        </section>
      </main>


        <!-- NEWSLETTER-->
        <section class="newsletter-background">
          <div>
            <h3>Recibí todas las ofertas</h3>
            <p>¿Quieres recibir nuestras ofertas? ¡Regístrate ya mismo y comenzá a disfrutarlas!</p>
              <input class="newsletter" type="email" placeholder="Email">
          </div>
        </section>
        
    </div>

    <!-- FOOTER -->
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    
  </body>
</html>
