<!DOCTYPE html>
<html lang="es">
  	<head> 
      <%- include('./partials/head2.ejs') %>
    </head>
  
  <body>
    
    <!-- NAV -->
    <header>
      <%- include('./partials/nav2.ejs') %>
    </header>
    
    <!-- CONTAINER HOME -->
    <div class="home">
      
      <!-- BANNER PRINCIPAL-->
      <section>
        <div class="banner">
          <img src="/images/home/banner.jpg" alt="banner">
        </div>
      </section>

      <main>
        <!-- NOVEDADES-->
        <div class="titulos">
          <h2>Novedades</h2>
        </div>
          

        <!-- PRODUCTOS-->
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <article class="producto">
            <a href="/products/productDetail/<%= productos[0].id %>">
              <img src="/images/productos/<%= productos[0].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[0].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[0].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA320">
            <a href="/products/productDetail/<%= productos[1].id %>">
              <img src="/images/productos/<%= productos[1].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[1].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[1].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA768">
            <a href="/products/productDetail/<%= productos[2].id %>">
              <img src="/images/productos/<%= productos[2].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[2].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[2].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1024">
            <a href="/products/productDetail/<%= productos[3].id %>">
              <img src="/images/productos/<%= productos[3].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[3].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[3].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1200">
            <a href="/products/productDetail/<%= productos[4].id %>">
              <img src="/images/productos/<%= productos[4].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[4].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[4].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        
        </section>
      </main>

        <!-- BANNER NOVEDADES-->
        <section>
          <div class="banner-novedades">
            <a href="/promociones">
              <img class="img-banner" src="/images/home/banner-novedades.jpg" alt="">
            </a>
          </div>
        </section>


        <!-- MEJORES PRODUCTOS-->
        <section class="nav-MejoresProductos">
          <div class="titulo-mejores-productos">
            <h2>Los Mejores Productos</h2>
          </div>
  
          <!-- NAV MEJORES PRODUCTOS-->
          <ul class="mejores-productos">
            <li> <a href="#">Populares</a></li>
            <li> <a href="#">Nuevos Productos</a> </li>
            <li> <a href="#">Más Vendidos</a> </li>
            <li> <a href="#">Especiales</a> </li>
          </ul>
        </section>
        



        <!-- PRODUCTOS -->
        <main>
        <section class="productos">

          <div class="btnAnt">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>
        
          <article class="producto">
            <a href="/products/productDetail/<%= productos[1].id %>">
              <img src="/images/productos/<%= productos[1].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[1].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[1].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA320">
            <a href="/products/productDetail/<%= productos[2].id %>">
              <img src="/images/productos/<%= productos[2].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[2].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[2].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>
          <article class="producto resolucionMenorA768">
            <a href="/products/productDetail/<%= productos[4].id %>">
              <img src="/images/productos/<%= productos[4].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[4].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[4].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1024">
            <a href="/products/productDetail/<%= productos[0].id %>">
              <img src="/images/productos/<%= productos[0].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[0].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[0].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>

          <article class="producto resolucionMenorA1200">
            <a href="/products/productDetail/<%= productos[3].id %>">
              <img src="/images/productos/<%= productos[3].imagen %>" alt="">
            </a>
            <h2 class="producto-titulo"><%= productos[3].nombre %></h2>
            <div class="precio-stock">
              <div>
                <h4 class="etiqueta-precio">$<%= productos[3].precio %></h4>
              </div>
              <div>
                <h5 class="etiqueta-stock">Stock Disponible</h5>
              </div>
            </div>
            <button class="btn-producto hoverproducto" type="button"><i class="fas fa-plus"></i> Añadir al Carrito</button>
          </article>
        
          <div class="btnSig">
            <a href="#">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>

        </section>
      </main>


        <!-- NEWSLETTER-->
        <section class="newsletter-background">
          <div>
            <h3>Recibí todas las ofertas</h3>
            <p>¿Quieres recibir nuestras ofertas? ¡Regístrate ya mismo y comenzá a disfrutarlas!</p>
              <input class="newsletter" type="email" placeholder="Email">
          </div>
        </section>
        
    </div>

    <!-- FOOTER -->
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    
  </body>
</html>
