<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Nombre: <%= nombre %>  </h1>
    <p> ID: <%= id %> </p>
    <p> Stock: <%= stock %> </p>
    <img src="<%= imagen %>" alt="">
    <p> Descripcion: <%= descripcion %>  </p>
</body>
</html>