<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Detalle del producto</title>
    <%- include('../partials/head.ejs') %>
    <script type="text/javascript" src="/js/productDetail.js"></script>
  </head>

  <body>
    <!-- NAV -->
    <header><%- include('../partials/nav.ejs', userLogged) %></header>

    <!-- CONTAINER PRODUCTDETAIL -->
    <div class="productDetail">

      <%- include('../partials/toast.ejs') %>


      <!-- SECCION DETALLE DEL PRODUCTO/IMAGEN -->
      <section class="seccion-producto">
        <!-- IMAGEN-PREVIEWS -->
        <div class="imagen-producto-previews">
          <% for(let i=1; i < producto.images.length; i++) { %>
          <img
            class="imagen-previews"
            src="/images/productos/<%=producto.images[i].name%>"
            alt="Imagenes de <%=producto.images[i].name%>"
          />
          <% } %>
        </div>

        <!-- IMAGEN -->
        <div class="imagen-producto">
          <% if (typeof producto.images[0] != "undefined") { %>
          <img
            class="imagen-producto-principal"
            src="/images/productos/<%=producto.images[0].name%>"
            alt="<%=producto.name%>"
          />
          <% } else { %>
          <img
            class="imagen-producto-principal"
            src="/images/productos/product-image-not-available.jpg"
            alt="<%=producto.name%>"
          />
          <% } %>

          <!-- DESCRIPCION DE LA IMAGEN -->
          <div class="descripcion-producto">
            <p style="word-break: break-all;"><%= producto.description %></p>
          </div>
        </div>

        <!-- DETALLE -->
        <section class="detalle-producto">
          <!-- TITULO -->
          <div class="titulo-producto">
            <h1 style="text-align: center;"><%=producto.name%></h1>
          </div>

          <!-- PRECIO NORMAL, DESCONTADO Y DESCUENTO -->
          <div class="fila-precio">
            <% if(producto.stock > 0) { %>
              <p style="text-align: center; color: rgb(43, 116, 43);">¡Existe stock disponible!</p>  
            <% } else { %>
              <p  style="text-align: center; color: rgb(158, 36, 36);">¡El producto se encuentra sin stock!</p>  
            <% } %>
            
          </div>

          

          <!-- AGREGAR AL CARRITO -->
          <div class="agregarAlcarrito">
            <form action="/carts/addProduct/<%= producto.id %>" method="POST">
              <% if(producto.stock > 0) { %>
                <button class="btn-agregarAlCarrito" type="submit" onclick="showToast()">
                  Agregar al carrito <i class="fas fa-plus"></i>
                </button>  
              <% } %>
            </form>
          </div>

          <!-- COMPRAR AHORA -->
          <div class="comprarAhora">
            <form action="/carts/addProduct/<%= producto.id %>" method="POST">
              <input style="display: none;" type="text" name="comprarAhora" value="comprarAhora">
              <% if(producto.stock > 0) { %>
                <button class="btn-comprarAhora" type="submit">
                  Comprar Ahora
                </button>
              <% } %>
              
            </form>
          </div>

          <!-- PERDIR -->
          <div class="pedirElProducto">
            <button class="btn-pedirElProducto" type="button">
              Pedir el Producto <i class="fab fa-whatsapp"></i>
            </button>
          </div>
        </section>
        <div class="descripcion-producto-mobile">
          <h2>Descripción:</h2>
          <p style="word-break: break-all;"><%= producto.description %></p>
        </div>
      </section>
    </div>


    <!-- PRODUCTOS RELACIONADOS -->
    <div>
      <h1 class="titulo-productosRelacionado">Productos Relacionados</h1>
    </div>

    <%- include('../partials/productosRelacionados.ejs', productosRelacionados) %>

    <!-- FOOTER -->
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
