<!DOCTYPE html>
<html lang="es">
  <head>
    <title>BierClub - Detalle del producto</title>
    <%- include('../partials/head.ejs') %>
  </head>
  

  <body>

    <!-- NAV -->
    <header>
      <%- include('../partials/nav.ejs') %>
    </header>

    <!-- CONTAINER PRODUCTDETAIL -->
    <div class="productDetail">

      <!-- SECCION DETALLE DEL PRODUCTO/IMAGEN -->
      <section class="seccion-producto">
  
        <!-- IMAGEN-PREVIEWS -->
        <div class="imagen-producto-previews">
          <img class="imagen-previews" src="/images/productos/producto-2.jpg" alt="">
          <img class="imagen-previews" src="/images/productos/producto-3.jpg" alt="">
          <img class="imagen-previews" src="/images/productos/producto-4.jpg" alt="">
          <img class="imagen-previews" src="/images/productos/producto-5.jpg" alt="">
        </div>
        
        <!-- IMAGEN -->
        <div class="imagen-producto">
            <img class="imagen-producto-principal" src="<%=imagen%>" alt="">

            <!-- DESCRIPCION DE LA IMAGEN -->
            <div class="descripcion-producto">
              <p><%= descripcion %></p>
            </div>
        </div>
  
        <!-- DETALLE -->
        <section class="detalle-producto">

          <!-- TITULO -->
          <div class="titulo-producto">
            <h1><%=nombre%></h1>
          </div>
  
          <!-- PRECIO NORMAL, DESCONTADO Y DESCUENTO -->
          <div class="fila-precio">
            <div class="precio-flex">
              <h5 class="precio-item">Individual</h5>
              <h5 class="precio-item">$<%=precio%></h5>
              <div><h5 class="texto-invisible">¡10% off comprando 3 cervezas!</h5></div>
              <div><h5 class="texto-invisible-mobile">¡10% off!</h5></div>
            </div>
            <div class="precio-flex">
              <h5 class="precio-item">3 cervezas</h5>
              <h5 class="precio-item">$<%=(precio*3)-(precio*3 /10)%></h5>
              <div><h5 class="texto-descuento">¡10% off comprando 3 cervezas!</h5></div>
              <div><h5 class="texto-descuento-mobile">¡10% off!</h5></div>
            </div>
            <div class="precio-flex">
              <h5 class="precio-item">6 cervezas</h5>
              <h5 class="precio-item">$<%=(precio*6)-(precio*6 /15)%></h5>
              <div><h5 class="texto-descuento">¡15% off comprando 6 cervezas!</h5></div>
              <div><h5 class="texto-descuento-mobile">¡15% off!</h5></div>
            </div>
          </div>

          
          
          <!-- CANTIDAD -->
          <div class="cantidad">
            <div class="cantidad-label">
              <label for="cantidad">Cantidad:</label>
            </div>
            <div class="cantidad-input">
              <a href=""><span><i class="fas fa-minus"></i></span></a>
              <input type="text" name="cantidad" placeholder="<%=stock%>">
              <a href=""><span><i class="fas fa-plus"></i></span></a>
            </div>
          </div>
  
          <!-- AGREGAR AL CARRITO -->
          <div class="agregarAlcarrito">
            <button class="btn-agregarAlCarrito" type="button">Agregar al carrito <i class="fas fa-plus"></i></button>
          </div>

          <!-- COMPRAR AHORA -->
          <div class="comprarAhora">
            <button class="btn-comprarAhora" type="button">Comprar Ahora</button>
          </div>

          <!-- PERDIR -->
          <div class="pedirElProducto">
            <button class="btn-pedirElProducto" type="button">Pedir el Producto <i class="fab fa-whatsapp"></i></button>
          </div>
 
        </section>
        <div class="descripcion-producto-mobile">
          <h2>Descripción:</h2>
          <p><%= descripcion %></p>
        </div>
      </section>
    </div>

    
        <!-- PRODUCTOS RELACIONADOS -->
        <div>
          <h1 class="titulo-productosRelacionado">Productos Relacionados</h1>
        </div>
        <%- include('../partials/productosRelacionados.ejs') %>

    <!-- FOOTER -->
    <footer>
      <%- include('../partials/footer.ejs') %>
    </footer>
  </body>
</html>