<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>BierClub</title>

    <script type="text/javascript" src="/js/home.js"></script>
  </head>

  <body>
    <!-- NAV -->
    <header><%- include('./partials/nav2.ejs', userLogged) %></header>

    <!-- CONTAINER HOME -->
    <div class="home">
      <!-- BANNER PRINCIPAL-->
      <section>
        <div class="sliderBannerHome">
          <div class="imagesBanner">
            <input type="radio" name="slide" id="img1SliderHome" checked />
            <input type="radio" name="slide" id="img2SliderHome" />
            <input type="radio" name="slide" id="img3SliderHome" />

            <img src="/images/home/banner.jpg" class="imgCheck1" alt="img1" />
            <img
              src="/images/home/banner-novedades.jpg"
              class="imgCheck2"
              alt="img2"
            />
            <img
              src="/images/home/banners/banner2.jpg"
              class="imgCheck3"
              alt="img3"
            />
          </div>
          <div class="dots">
            <label for="img1SliderHome"></label>
            <label for="img2SliderHome"></label>
            <label for="img3SliderHome"></label>
          </div>
        </div>
      </section>

      <%- include('./partials/toast.ejs') %>

      <main>
        <!-- NOVEDADES-->
        <div class="titulos">
          <h2>Novedades</h2>
        </div>

        <!-- PRODUCTOS-->
        <section class="productos">
          <div class="btnAnt" id="product-prev">
            <a href="javascript:void();">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>

          <section class="productsSlider productNovedades">
            <% for (let i=0; i < productosNovedades.length ; i++) { %>

            <article class="producto productNovedades">
              <a href="/products/productDetail/<%= productosNovedades[i].id %>">
                <% if(typeof productosNovedades[i].images[0] != "undefined") {
                %>
                <img
                  src="/images/productos/<%= productosNovedades[i].images[0].name %>"
                  alt="<%= productosNovedades[i].name %>"
                />
                <% } else { %>
                <img
                  src="/images/productos/product-image-not-available.jpg"
                  alt="<%= productosNovedades[i].name %>"
                />
                <% } %>
              </a>
              <h2 class="producto-titulo"><%= productosNovedades[i].name %></h2>
              <div class="precio-stock">
                <div>
                  <h4 class="etiqueta-precio">
                    $<%= productosNovedades[i].price %>
                  </h4>
                </div>
                <div>
                  <% if (productosNovedades[i].stock > 0) { %>
                  <h5 class="etiqueta-stock">Stock Disponible</h5>
                  <% } else { %>
                  <h5 class="stock sinStock">Sin Stock</h5>
                  <% } %>
                </div>
              </div>
              <form
                action="/carts/addProduct/<%= productosNovedades[i].id %>"
                method="POST"
                onclick="return ajaxGo()"
              >
                <% if (productosNovedades[i].stock > 0) { %>
                <button
                  class="btn-producto hoverproducto"
                  type="submit"
                  onclick="showToast()"
                >
                  <i class="fas fa-plus"></i> Añadir al Carrito
                </button>
                <% } else { %>
                <button class="btn-producto hoverproducto" style="cursor: not-allowed;" type="submit">
                  <i class="fas fa-plus"></i> Añadir al Carrito
                </button>
                <% } %>
              </form>
            </article>
            <% } %>
          </section>

          <div class="btnSig" id="product-next">
            <a href="javascript:void();">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        </section>
      </main>

      <!-- BANNER NOVEDADES-->
      <div clas="parallax-completo">
        <div class="banner-parallax">
          <a href="/suscripcion">
            <div class="banner-texto">
              <h3>
                <i class="fas fa-beer"></i> ¿Quieres cerveza todos los meses?
              </h3>
            </div>
          </a>
        </div>
      </div>

      <!-- MEJORES PRODUCTOS-->
      <section class="nav-MejoresProductos">
        <div class="titulo-mejores-productos">
          <h2>¿Que producto buscas?</h2>
        </div>

        <!-- NAV MEJORES PRODUCTOS-->
        <ul class="mejores-productos">
          <li>
            <a href="/products/productsFilter?ordenar=populares">Populares</a>
          </li>
          <li>
            <a href="/products/productsFilter?ordenar=nuevos-productos"
              >Nuevos Productos</a
            >
          </li>
          <li>
            <a href="/products/productsFilter?ordenar=menor-precio"
              >Menor Precio</a
            >
          </li>
          <li>
            <a href="/products/productsFilter?ordenar=mayor-precio"
              >Mayor Precio</a
            >
          </li>
        </ul>
      </section>

      <!-- PRODUCTOS -->
      <main>
        <!-- Productos en Stock -->
        <div class="titulos titulo-ProductInStock">
          <h2>¡Productos que se encuentran en stock!</h2>
        </div>

        <section class="productos">
          <div class="btnAnt btnAnt-Filter" id="product-prev">
            <a href="javascript:void();">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
            </a>
          </div>

          <section class="productsSlider productFilter">
            <% for (let i=0; i < productosEnStock.length ; i++) { %>
            <article class="producto artProductFilter">
              <a href="/products/productDetail/<%= productosEnStock[i].id %>">
                <% if(typeof productosEnStock[i].images[0] != "undefined") { %>
                <img
                  src="/images/productos/<%= productosEnStock[i].images[0].name %>"
                  alt="<%= productosEnStock[i].name %>"
                />
                <% } else { %>
                <img
                  src="/images/productos/product-image-not-available.jpg"
                  alt="<%= productosEnStock[i].name %>"
                />
                <% } %>
              </a>
              <h2 class="producto-titulo"><%= productosEnStock[i].name %></h2>
              <div class="precio-stock">
                <div>
                  <h4 class="etiqueta-precio">
                    $<%= productosEnStock[i].price %>
                  </h4>
                </div>
                <div>
                  <h5 class="etiqueta-stock">Stock Disponible</h5>
                </div>
              </div>
              <form
                action="/carts/addProduct/<%= productosEnStock[i].id %>"
                method="POST"
              >
                <button
                  class="btn-producto hoverproducto"
                  type="submit"
                  onclick="showToast()"
                >
                  <i class="fas fa-plus"></i> Añadir al Carrito
                </button>
              </form>
            </article>
            <% } %>
          </section>

          <div class="btnSig btnSig-Filter" id="product-next">
            <a href="javascript:void();">
              <div class="button-pass">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </a>
          </div>
        </section>
      </main>

      <!-- NEWSLETTER-->
      <section class="newsletter-background">
        <div>
          <h3>Recibí todas las ofertas</h3>
          <p>
            ¿Quieres recibir nuestras ofertas? ¡Regístrate ya mismo y comenzá a
            disfrutarlas!
          </p>
          <form action="/" method="POST">
            <input
              name="newsletter"
              class="newsletter"
              type="email"
              placeholder="Email"
              onchange="this.form.submit()"
            />
          </form>
          <% if(typeof newsletter != 'undefined') { %>
          <div id="modal-newsletter">
            <div class="background-newsletter-modal">
              <% if(newsletter == 1) { %>
              <div>
                <p>Te has suscripto a BierClub-newsletter. ¡Mira tu email!</p>
                <button>Aceptar</button>
              </div>
              <% } else { %>
              <div>
                <p>
                  Para poder recibir newsletters de BierClub
                  <a href="/users/register">registra tu cuenta!</a>
                </p>
                <button>Aceptar</button>
              </div>
              <% } %>
            </div>
          </div>

          <% } %>
        </div>
      </section>
    </div>

    <!-- FOOTER -->
    <footer><%- include('./partials/footer.ejs') %></footer>
  </body>
</html>
