<!DOCTYPE html>
<html lang="es">  
	<head>
		<title>BierClub - Iniciar Sesión</title>
		<%- include('../partials/head.ejs') %>
</head>

<body>

	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER LOGIN -->
		<div class="login-register">

			<!-- TITULO -->
			<div class="login-register-titulo">
				<h1>Ingresa tu cuenta</h1>	
			</div>
		
			<!-- FORMULARIO -->
			<form class="formulario" action="/users/login" method="POST">
				
			<!-- EMAIL -->
			<div class="campo-input">
				<input class="input-registro" type="email" id="email" name="email" placeholder="Email"
				<% if(typeof errors != "undefined"){%>
					value="<%= errors.reqEmail %>"
				<%}%>>
				<%if(typeof errors != "undefined"){%>
					<% for(let i = 0 ; i < errors.errors.length ; i++){ %>
						<%if(errors.errors[i].param == "email"){%>
							<p class="error-total">* <%= errors.errors[i].msg %></p>
							<% break; %>
						<%}%>
					<%}%>
				<%}%>
				<%if(typeof errors != "undefined"){%>
					<% for(let i = 0 ; i < errors.errors.length ; i++){ %>
						<% if(errors.errors[i].param == "email") {%>
							<% break; %>
						<%}%>
						<%if(errors.errors[i].param == "contrasenia" ){%>
							<p class="error-total">* <%= errors.errors[i].msg %></p>
							<% break %>
						<%}%>
					<%}%>
				<%}%>
			</div>

			<!-- CONTRASEÑA -->
			<div class="campo-input">
				<input class="input-registro" type="password" id="contraseña" name="contrasenia" placeholder="Contraseña">
				<% if(typeof credencialesInvalidas != "undefined"){ %>
					<p class="error-total">* <%= credencialesInvalidas %></p>
				<% } %>
			</div>

			<div class="campo-input">
				<div>
					<label for="recordameLogin">Mantener mi sesión iniciada</label>
					<input type="checkbox" id="recordameLogin" name="recordameLogin">
				</div>
			</div>
				
			
			<!-- CONTRASEÑA OLVIDADA -->
			<p class="contraseña-olvidada"><a href="#">¿Olvidaste tu Contraseña?</a></p>
			
			<!-- BOTON INGRESAR -->
			<div class="campo-input">
				<button class="input-button" type="submit" id="ingresar" value="ingresar"> Ingresar</button>
			</div>
			</form>
			
			<!-- REGISTRARSE -->
			<p class="registrate-usuario">¿Aún no tenés usuario?<a href="/users/register">¡Registrate!</a></p>
		</div>
				<!-- FOOTER -->
				<footer class="login-footer">
					<%- include('../partials/footer.ejs') %>
				</footer>

</body>
</html>