<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BierClub - Mi Perfil</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/styles.css'/>
	<link rel='stylesheet' href='/stylesheets/perfil.css'/>
	<script src="/js/perfil.js" type="text/javascript"></script>
</head>

<body>

	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER LOGIN -->
		<div class="login-register">

			<!-- TITULO -->
			<h1> ¡Bienvenido, <%= nombre %>! </h1>
			<div class="perfil-total">
				<div class="perfil-izquierda">
					<h2>Mis datos personales</h2>
					<hr>
					<ul class="datos-personales">
						<li>Nombre:</li>
						<li><%= nombre %></li>
					</ul>
					<ul class="datos-personales">
						<li>Email:</li>
						<li><%= email %></li>
					</ul>
					<hr>
					<strong><a onClick="modificarPerfil()">MODIFICAR DATOS</a></strong>
				</div>
				<div class="perfil-derecha">
					<h2>Mis compras</h2>
					<hr>
					<div class="compras-perfil">
						<img src="/images/productos/producto-2.jpg" alt="">
						<h3>Precio total del pedido: $2000</h3>
						<a onclick="window.location.href='/users/perfil/pedidos/<%= id %>'"  class=""> Ver pedido</a>
					</div>
					<div class="compras-perfil">
						<img src="/images/productos/producto-2.jpg" alt="">
						<h3>Precio total del pedido: $2000</h3>
						<a onclick="window.location.href='/users/perfil/pedidos/<%= id %>'"  class=""> Ver pedido</a>
					</div>
					<div class="compras-perfil">
						<img src="/images/productos/producto-2.jpg" alt="">
						<h3>Precio total del pedido: $2000</h3>
						<a onclick="window.location.href='/users/perfil/pedidos/<%= id %>'" class=""> Ver pedido</a>
					</div>
				</div>

			</div>
			<!-- FORMULARIO -->
			<div class="formulario-total" id="modificar">
			<form class="formulario" action="/users/perfil/<%= id %>" method="POST">
				<div class="cerrar-modificar"><a onclick="modificarPerfil()"><i class="far fa-times-circle"></i></a></div>
				

				<!-- NOMBRE -->
				<div class="campo-input campo1">
					<input class="input-registro" type="text" id="nombre" name="nombre" value="<%= nombre %>">
					</div>

				<!-- EMAIL -->
				<div class="campo-input">
					<input class="input-registro" type="email" id="email" name="email" value="<%= email %>">
				</div>


				<!-- VIEJA CONTRASEÑA -->
				<div class="campo-input">
					<input class="input-registro" type="password" placeholder="Antigua Contraseña"> 
				
				</div>
				<!-- CONTRASEÑA -->
				<div class="campo-input">
					<input class="input-registro" type="password" id="contrasenia" name="contrasenia" placeholder="Contraseña nueva"> 
				</div>

				<!-- CONFIRMAR CONTRASEÑA -->
				<div class="campo-input">
					<input class="input-registro" type="password" id="confirmarContrasenia" name="confirmarContrasenia" placeholder="Confirmar contraseña nueva"> 
				</div> 
			
				<!-- BOTON INGRESAR -->
				<div class="campo-input">
					<button class="input-button modificar-datos" type="submit" id="" name="" value="ingresar"> Modificar datos</button>
					<br>
					<button onclick="window.location.href='/users/perfil/eliminar/<%= id %>'" class="input-button ultimoCampo" type="reset" id="" name="" value=""> Eliminar usuario</button>
				</div>
			</form>
			</div>
			
		</div>

	<!-- FOOTER -->
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>

</body>
</html>