<title>BierClub - Registrarse</title>
<%- include('../partials/head.ejs') %>
</head>

<body>
	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
	
		<!-- CONTAINER REGISTER -->
		<div class="login-register">

			<!-- TITULO -->
			<h1>Regístrate con tu Dirección Email</h1>
			
		
			<!-- FORMULARIO -->
			<form class="formulario" action="/users/register" method="POST">
				
			<!-- NOMBRE -->
			<div class="campo-input">
				<input class="input-registro" type="text" id="nombre" name="nombre" placeholder="Nombre">
				<%if(typeof errors != "undefined"){%>
					<% for(let i = 0 ; i < errors.length ; i++){ %>
						<%if(errors[i].param == "nombre"){%>
							<p class="error-total"><%= errors[i].msg %></p>
							<% break; %>
						<%}%>
					<%}%>
				<%}%>
			</div>

			<!-- MAIL -->
			<div class="campo-input">
				<input class="input-registro" type="email"  id="email" name="email" placeholder="Email">
				<%if(typeof errors != "undefined"){%>
					<%for(let i = 0 ; i < errors.length ; i++){%>
						<%if(errors[i].param == "email"){%>
							<p class="error-total"><%= errors[i].msg %></p>
							<% break; %>
						<%}%>
					<%}%>
				<%}%>
			</div>

			<!-- CONTRASEÑA -->
			<div class="campo-input">
				<input class="input-registro" type="password" id="Contrasenia" name="contrasenia" placeholder="Contraseña"> 
				<%if(typeof errors != "undefined"){%>
					<%for(let i = 0 ; i < errors.length ; i++){%>
						<%if(errors[i].param == "contrasenia"){%>
							<p class="error-total"><%= errors[i].msg %></p>
							<% break; %>
						<%}%>
					<%}%>
				<%}%>
			</div>

			<!-- CONFIRMAR CONTRASEÑA -->
			<div class="campo-input">
				<input class="input-registro" type="password" id="confirmarContrasenia" name="confirmarContrasenia" placeholder="Confirmar contraseña"> 
				<%if(typeof errors != "undefined"){%>
					<%for(let i = 0 ; i < errors.length ; i++){%>
						<%if(errors[i].param == "confirmarContrasenia"){%>
							<p class="error-total"><%= errors[i].msg %></p>
							<% break; %>
						<%}%>
					<%}%>
				<%}%>
			</div> 

			<!-- TERMINOS Y CONDICIONES -->
			<div class="terminos">
				<input type="checkbox" id="terminosCondiciones" name="terminosCondiciones">
				<label for="terminos-condiciones">Acepto los <a href="#">Términos y Condiciones</a> de BierClub </label>
				<%if(typeof errors != "undefined"){%>
					<%for(let i = 0 ; i < errors.length ; i++){%>
						<%if(errors[i].param == "terminosCondiciones"){%>
							<p class="error-terminosCondiciones"><%= errors[i].msg %></p>
							<% break; %>
						<%}%>
					<%}%>
				<%}%>
			</div>

			<!-- BOTON REGISTRARSE -->
			<div class="campo-input">
				<button class="input-button" type="submit", id="registrar", value="registrar"> Registrarse </button>
			</div>
			
			
			</form>
			<!-- INICIAR SESION -->
			<p class="iniciar-sesion">¿Ya sos cliente? <a href="/users/login">Inicia Sesión</a></p>
			
		</div>

	<!-- FOOTER -->
	<footer>
		<%- include('../partials/footer.ejs') %>
	</footer>

</body>
</html>