<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Todos los Productos</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
	<link rel='stylesheet' href='/stylesheets/nav.css'/>
	<link rel='stylesheet' href='/stylesheets/users.css'/>
    <script src="/js/userAdmin.js" type="text/javascript"></script>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
    <div class="container-users">
        <h1>Lista de usuarios completa</h1>
        <section class="usuarios-listaCompleta">
        <% usuarios.forEach(usuarios => { %>
            <div class="usuarios-lista">
                <div class="container-input">
                    <h3>ID: <%= usuarios.id %></h3> 
                </div>
                <div class="container-input">
                    <h3>Nombre: <%= usuarios.nombre %></h3> 
                </div>
                <div class="container-input">
                    <h3>Email: <%= usuarios.email %></h3> 
                </div>
                <div class="container-input">
                    <h3>Contraseña: <%= usuarios.contrasenia %></h3> 
                </div>
                <div class="container-input">
                    <h3>Admin:<%if (usuarios.admin == true){%>
                        si
                    <%}else{%>
                        no
                    <%}%></h3> 
                    
                </div>
                <button onclick="window.location.href='/users/usersAdmin/<%= usuarios.id %>'" class="button-modificar button-enteros" type="submit" id="" name="" value="ingresar"> Modificar datos</button>
                <button onclick="window.location.href='/users/perfil/eliminar/<%= usuarios.id %>'" class="button-eliminar button-enteros" type="reset" value=""> Eliminar usuario</button>
<!--                 <div class="invisible-eliminar-usuario" id="eliminar-user">
                    <p>¿Está seguro que desea eliminar este usuario?</p>
                    <div class="eliminar-usuario-container">
                        <button onclick="eliminarUsuario()" class="input-button button-enteros button-modificar" type="reset" id="" name="" value="">No</button>
                        <button onclick="window.location.href='/users/perfil/eliminar/'" class="input-button button-enteros button-eliminar" type="reset" id="" name="" value="">Si</button>
                    </div>
                </div> -->
            </div>
        <%});%>
        </section>
    </div>	

</body>
</html>