<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierClub - Todos los Productos</title>
	<link rel="icon" href="/images/faviconLogo.ico"/>
    <script src="/js/userAdmin.js" type="text/javascript"></script>
	<%- include('../partials/head.ejs') %>
</head>

<body>
	<!-- NAV -->
	<header>
		<%- include('../partials/nav.ejs') %>
	</header>
    <div class="container-users">
        <h1>Usuario: <%= usuarios.nombre %></h1>
        <section class="usuarios-listaCompleta">
            <div class="usuarios-lista">
                <form action="/users/usersAdmin/<%= usuarios.id %>" method="POST">
                <div class="container-input">
                    <h3>ID: <%= usuarios.id %></h3> 
                    <input class="inputModificar" type="hidden" id="id" name="id" value="<%= usuarios.id %>">
                </div>
                <div class="container-input">
                    <h3>Nombre:</h3> 
                    <input class="inputModificar" type="text" id="nombre" name="nombre" value="<%= usuarios.nombre %>">
                </div>
                <div class="container-input">
                    <h3>Email:</h3> 
                    <input class="inputModificar" type="email" id="email" name="email" value="<%= usuarios.email %>">
                </div>
                <div class="container-input">
                    <input class="inputModificar" type="hidden" id="contrasenia" name="contrasenia" value="<%= usuarios.contrasenia %>">
                </div>
                <div class="container-input">
                    <h3>Admin:</h3> 
                    <input class="inputModificar" type="checkbox" id="admin" name="admin" <%if (usuarios.admin == true){%>
                        checked
                    <%}%>>
                    
                </div>
                <button class="button-modificar button-enteros" type="submit"> Modificar datos</button>
                <button onclick="eliminarUsuario()" class="button-eliminar button-enteros" type="reset" value=""> Eliminar usuario</button>
						<div class="invisible-eliminar-usuario" id="eliminar-user">
							<p>¿Está seguro que desea eliminar este usuario?</p>
							<div class="eliminar-usuario-container ">
								<button onclick="eliminarUsuario()" class="input-button button-enteros button-modificar" type="reset" value="">No</button>
								<button onclick="window.location.href='/users/perfil/eliminar/<%= usuarios.id %>'" class="input-button button-enteros button-eliminar" type="reset" id="" name="" value="">Si</button>
							</div>
						</div> 
                </form>
            </div>
        </section>
    </div>	

</body>
</html>